html {
    background: url("./pictures/uss-george-washington-aircraft-carrier.jpg"), linear-gradient(rgba(0,193,255,.25),#9b9b9b) no-repeat center center fixed;
    /*background-color: linear-gradient(blue,#9b9b9b);*/
    background-blend-mode: luminosity;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#firstPage
{
    margin: auto;
    width: 400px;
    height: 200px;
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#181234,#61dafb);
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#getPage
{

}

#fileInput, #button
{
    -moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
    -webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
    box-shadow:inset 0px -3px 7px 0px #29bbff;
    background-color:transparent;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #0b0e07;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
    width: fit-content;
}

#fileInput:hover, #button:hover
{
    background-color:transparent;
}

#fileInput:active, #button:active
{
    position:relative;
    top:1px;
}

h1
{
    color: #9b9b9b;
}

#qaPage
{
    margin: auto;
    width: 400px;
    height: 400px;
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#181234,#61dafb);
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.qa
{
    height:150px;
    text-align: center;
    font-family: "Times New Roman", serif;
    color: white;
    font-size: 15px;
    line-height: 15px;
}

#qaTable
{
    margin: auto;
    width: 400px;
    height: 300px;
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#181234,#61dafb);
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow-y: scroll;
}

table
{
    border-collapse: collapse;
    width:100%;
    height:100%;
}

#firstRow:first-child
{
    background-color: #008075;
}

table, th, td
{
    border: 1px solid black;
}

th
{
    text-align: center;
}

td
{
    height: 50px;
    vertical-align: center;
}

tr:hover
{
    background-color: #9b9b9b;
}

tr:nth-child(even)
{
    background-color: #f2f2f2;
}